*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #666;
    color: #fff;
}

.interface {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

thead th:nth-child(1){
    background-color: #fff;
    color: #222;
}

thead th:nth-child(2){
    background-color: #fff;
    color: #222;
}

thead th:nth-child(3){
    background-color: #fff;
    color: #222;
}

td:hover{
    background-color: aqua;
    color: black;
}
